.Pages {
	z-index: 1;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	height: calc(100vh - var(--header-height) - var(--player-height));
	@media(max-width: 800px) {
		height: calc(100vh - var(--header-height) - var(--player-height-mobile)); } }