.Navigation {
	&__links {
		gap: var(--space-one-half);
		@media (max-width: 1100px) {
			gap: var(--space-three-quart);
		}
		@media (max-width: 850px) {
			gap: var(--space-half);
		}
	}
	&__link {
		position: relative;
		outline: none !important;
		&-button {
			padding: 0;
			outline: none !important;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			&:hover,
			&:focus,
			&:active {
				background-color: transparent !important;
			}
			@media (max-width: 700px) {
				padding-left: 0;
				padding-right: 0;
			}
			&-icon {
				margin-bottom: 2rem;
			}
			&-children {
				transition: var(--transition-duration) color;
			}
		}
		&-active {
			&::after {
				width: 100%;
				content: "";
				height: 3rem;
				bottom: -3rem;
				position: absolute;
				background-color: var(--text-color);
			}
		}
		&:hover &-button-children,
		&:focus &-button-children {
			color: var(--text-color-light);
		}
	}
}
