.SearchPage {
	padding-top: var(--space-half);
	&__bar {
		position: relative;
		&-input {
			border: 0;
			width: 100%;
			outline: none;
			font-size: 20rem;
			background-color: transparent;
			transition: var(--transition-duration) border-bottom;
			padding-left: calc(var(--space-quart) + var(--button-dimension));
			border-bottom: calc(var(--border-width) * 2) solid var(--border-color);
			&:focus {
				border-bottom-color: var(--grey-color-500); }
			&-search {
				left: 0;
				top: 50%;
				cursor: unset;
				position: absolute;
				transform: translateY(-50%);
				&:hover,
				&:focus {
					background-color: transparent; } }
			&-right {
				top: 0;
				height: 100%;
				position: absolute;
				right: var(--space-half);
				&-algolia {
					height: calc(100% - var(--space) - var(--border-width) * 2 - var(--space-fifth)); } } } } }