.Item {
	--gap: calc(var(--space) * 0.4);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: var(--button-dimension);
	@media (max-width: 800px) {
		--gap: calc(var(--space) * 0.3); }
	&:hover &__in-lib {
		display: block; }
	&__icon {
		margin-left: -3rem;
		margin-right: -1rem;
		&:hover {
			background-color: transparent; } }
	&__left {
		width: 18rem;
		text-align: center;
		white-space: nowrap;
		color: var(--text-color-light);
		margin: 2rem var(--gap) 0 calc(var(--gap) - 5rem); }
	&__play {
		--fix: -3px;
		@media (max-width: 800px) {
			--fix: -6px; }
		margin-left: var(--fix);
		margin-right: calc(var(--gap) + var(--fix)); }
	&__img-link {
		margin-right: var(--gap); }
	&__img {
		width: var(--button-dimension);
		height: var(--button-dimension); }
	&__info {
		flex-grow: 1;
		display: flex;
		overflow-x: hidden;
		overflow-y: hidden;
		align-self: stretch;
		align-items: stretch;
		justify-content: space-between;
		&-left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&-text {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis; } }
		&-right {
			align-self: center;
			white-space: nowrap;
			text-overflow: clip;
			@media (max-width: 800px) {
				display: none; } } } }