:root {
	// @oly_op/css-utilities overrides
	--primary-color: #ff5722;
	--primary-color-dark: #c41c00;
	--primary-color-light: #ff8a50;
	--font-family: "Roboto", system-ui;

	// @oly_op/react-button overrides
	--button-dimension: 36rem;

	--modal-width: 350rem;
	--select-height: 29rem;
	--content-width: 100vw;
	--sidebar-width: 300rem;
	--progress-height: 15rem;
	--grid-child-width: unset;
	--content-image-width: 330rem;
	--close-background-color: #333;
	--grid-image-hover-color: #333;
	--close-background-opacity: 0.6;
	--grid-image-hover-opacity: 0.3;
	--progress-color: var(--grey-color-300);

	--bar-height-base: calc(
		var(--border-width) + var(--button-dimension) + var(--space-one-quart) + var(--progress-height)
	);
	--bar-height: var(--bar-height-base);

	--header-height: calc(var(--button-dimension) + var(--space) + var(--border-width));

	@media (max-width: 900px) {
		--content-image-width: 275rem;
	}
	@media (max-width: 800px) {
		--content-image-width: 225rem;
	}
	@media (max-width: 700px) {
		--modal-width: 400rem;
		--bar-height: calc(var(--bar-height-base) + var(--border-width) + var(--header-height));
	}
	@media (max-width: 450px) {
		--modal-width: calc(100vw - 2 * var(--space-double));
	}
}

#Root {
	background-color: var(--background-color);
}
