.BarControls {
	display: flex;
	align-items: center;
	gap: var(--space-quart);
	justify-content: center;
	&__loading {
		@media (min-width: 700px) {
			animation: spin 1s infinite linear; } } }

@keyframes spin {
	0% {
		transform: rotate(360deg); }
	100% {
		transform: rotate(0deg); } }