.TextField {
	padding: 0;
	position: relative;
	&__label {
		top: -8rem;
		z-index: 10;
		left: 12rem;
		padding: 3rem;
		font-size: 12rem;
		font-weight: 600;
		position: absolute;
		border-radius: 5rem;
		background-color: #fff;
		text-transform: uppercase;
		transition: var(--transition-duration) color; }
	&__outline {
		opacity: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		pointer-events: none;
		background-color: transparent;
		border: 2rem solid var(--primary-color);
		transition: var(--transition-duration) opacity;
		transition: var(--transition-duration) border-radius; }
	&__image {
		left: 14rem;
		bottom: 14rem;
		position: absolute;
		height: var(--content-image-height);
		&-portrait {
			width: var(--content-image-height); }
		&-landscape {
			width: var(--content-image-width); } }
	&__right {
		top: 50%;
		position: absolute;
		right: var(--space-half);
		transform: translateY(-50%); }
	&__check {
		&:hover,
		&:focus {
			background-color: transparent !important; }
		&-valid {
			color: #4caf50 !important; }
		&-invalid {
			color: #f44336 !important; }
		&-loading {
			animation: spin 1s infinite linear; } }
	&__list {
		top: 18rem;
		left: 14rem;
		width: 100%;
		bottom: 18rem;
		height: 26rem;
		position: absolute;
		&-add {
			--button-dimension: 30rem;
			--button-dimension-icon: calc(var(--button-dimension) - 2 * var(--space-quart));
			left: 9rem;
			bottom: 7rem;
			position: absolute;
			gap: var(--space-quart);
			padding: var(--space-quart); }
		&-close {
			--dim: 16rem;
			margin-top: 1rem;
			width: var(--dim);
			height: var(--dim);
			min-width: var(--dim);
			&-icon {
				width: var(--dim);
				height: var(--dim);
				font-size: var(--dim); } } }
	&__input {
		width: 100%;
		outline: none;
		font-size: 16rem;
		padding: 18rem 14rem;
		letter-spacing: 0.15rem;
		border: 1rem solid var(--border-color);
		background-color: var(--elevated-color);
		transition: var(--transition-duration) border-color;
		transition: var(--transition-duration) border-radius;
		&-image {
			height: calc(var(--content-image-height) + var(--space-half) + 61rem); }
		&-list {
			padding-top: 54rem;
			&-add {
				padding-bottom: 45rem; } }
		&::-webkit-calendar-picker-indicator {
			display: none; } }
	&:hover &__label {
		color: var(--primary-color); } }

@keyframes spin {
	from {
		transform: rotate(360deg); }
	to {
		transform: rotate(0deg); } }