:root {
	--select-height: 29rem;
	--content-width: 100vw;
	--sidebar-width: 300rem;
	--progress-height: 15rem;
	--button-dimesnion: 36rem;
	--transition-duration: 0.4s;
	--content-image-width: 330rem;
	--close-background-color: #000;
	--close-background-opacity: 0.6;
	--font-family: "Roboto", system-ui;

	--primary-color: #ff5722;
	--primary-color-dark: #c41c00;
	--primary-color-light: #ff8a50;

	--header-height: calc(var(--button-dimesnion) + var(--space));
	--bar-height-base: calc(var(--button-dimesnion) + var(--space-one-quart) + var(--progress-height));
	--bar-height: var(--bar-height-base);
	@media (max-width: 900px) {
		--content-image-width: 275rem; }
	@media (max-width: 800px) {
		--content-image-width: 225rem; }
	@media (max-width: 700px) {
		--bar-height: calc(var(--bar-height-base) + var(--border-width) + var(--header-height)); } }

#Root {
	background-color: var(--background-color); }