.Queues {
	&__expand {
		border-radius: 0;
		justify-content: flex-start;
		background-color: transparent !important;
		gap: calc(var(--space-three-quart) + 1rem);
		padding-left: calc(var(--space-three-quart) + 2rem); }
	&__section {
		margin-top: calc((var(--space-quart) + 3rem) * -1); }
	&__actions {
		display: flex;
		gap: var(--space-half);
		@media (max-width: 800px) {
			flex-direction: column; }
		&-refresh {
			@media (max-width: 800px) {
				display: none; } } } }