.Header {
	z-index: 2;
	padding-top: env(safe-area-inset-top);
	height: calc(var(--header-height) + env(safe-area-inset-top));
	&__left {
		@media (min-width: 700px) {
			margin-left: calc(var(--space-half) + 2rem); }
		@media (max-width: 700px) {
			--button-dimension: var(--header-height);
			border-radius: 0; } }
	&__offline {
		--color: #f44336;
		border-color: var(--color);
		border-style: var(--border-style);
		border-width: var(--border-width);
		border-radius: var(--border-radius);
		&:hover,
		&:focus {
			background-color: transparent !important; }
		&-span {
			color: var(--color) !important; } }
	&__account {
		&-button-image {
			border-radius: 100%; }
		&-modal {
			&-content {
				--width: 133rem;
				left: unset;
				transform: none;
				right: calc(var(--space-half));
				top: calc(var(--space-half) + env(safe-area-inset-top) - 1rem);
				width: calc(var(--space) + var(--width) + 2 * var(--border-width));
				&-button {
					width: 100%;
					border-radius: 0;
					justify-content: flex-start; } } } } }