.Header {
	z-index: 2;
	height: var(--header-height);
	clip-path: inset(0 -8rem 300rem -8rem);
	&__left {
		margin-left: 4rem; }
	&__offline {
		--color: #f44336;
		border-color: var(--color);
		border-style: var(--border-style);
		border-width: var(--border-width);
		&:hover {
			background-color: transparent !important; }
		&-span {
			color: var(--color) !important; } }
	&__account {
		&-modal {
			&-background {
				background-color: transparent; }
			&-content {
				--width: 114rem;
				left: unset;
				transform: none;
				right: calc(var(--space-half));
				width: calc(var(--space) + var(--width));
				top: calc(var(--space-half) + env(safe-area-inset-top) - 1rem);
				&-button {
					width: 100%;
					border-radius: 0;
					justify-content: flex-start; } } } } }