.Bar {
	z-index: 2;
	width: 100%;
	display: flex;
	height: var(--player-height);
	&__controls {
		border-right-width: var(--border-width);
		border-right-style: var(--border-style);
		border-right-color: var(--border-color);
		@media (max-width: 800px) {
			border-top-width: var(--border-width);
			border-top-style: var(--border-style);
			border-top-color: var(--border-color); } }
	&__main {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: calc(var(--space-quart) - 2rem);
		@media (max-width: 800px) {
			gap: 0;
			justify-content: space-between; }
		&-content {
			display: flex;
			justify-content: space-between;
			@media (min-width: 801px) {
				margin-right: -7rem; }
			&-current {
				flex-grow: 1; } } } }