.Bar {
	z-index: 2;
	display: flex;
	height: var(--player-height);
	&__controls {
		padding: var(--space-half);
		border-right-width: var(--border-width);
		border-right-style: var(--border-style);
		border-right-color: var(--border-color);
		@media (max-width: 700px) {
			padding: var(--space); } }
	&__main {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: calc(var(--space-quart) - 2rem);
		@media (max-width: 800px) {
			gap: 0;
			justify-content: space-between; }
		&-content {
			display: grid;
			max-width: 100%;
			grid-template-columns: minmax(0, 1fr) calc(var(--button-dimesnion) * 3);
			@media (min-width: 800px) {
				margin-right: -7rem; } } } }