.FormField {
	&__image {
		&-label {
			font-size: 12rem;
			font-weight: 600;
			padding-left: 12rem;
			text-transform: uppercase;
		}
		&-image {
			cursor: default;
			&-portrait {
				width: 216rem;
				height: 216rem;
			}
			&-landscape {
				width: 384rem;
				height: 216rem;
			}
		}
		&-box {
			cursor: pointer;
		}
		&-input {
			cursor: pointer;
		}
	}
}
