.Modal {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	&__background {
		top: 0;
		left: 0;
		z-index: 4;
		outline: none;
		cursor: pointer;
		position: absolute;
		transition-property: opacity;
		transition-duration: var(--transition-duration);
		background-color: var(--close-background-color) !important; }
	&__content {
		top: 50%;
		left: 50%;
		z-index: 5;
		cursor: text;
		position: absolute;
		width: var(--sidebar-width);
		transform: translate(-50%, -50%); } }