.Modal {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	&__visible {
		opacity: 1;
		visibility: visible;
		transition: opacity var(--transition-duration) linear; }
	&__hidden {
		opacity: 0;
		visibility: hidden;
		transition:
			visibility var(--transition-duration) linear,
			opacity var(--transition-duration) linear; }
	&__background {
		top: 0;
		left: 0;
		z-index: 4;
		cursor: pointer;
		position: absolute;
		-webkit-tap-highlight-color: transparent;
		background-color: var(--close-background-color);
		&-visible {
			visibility: visible;
			opacity: var(--close-background-opacity);
			transition: opacity var(--transition-duration) linear; }
		&-hidden {
			opacity: 0;
			visibility: hidden;
			transition:
				visibility var(--transition-duration) linear,
				opacity var(--transition-duration) linear; } }
	&__content {
		top: 50%;
		left: 50%;
		z-index: 5;
		cursor: text;
		position: absolute;
		width: var(--sidebar-width);
		transform: translate(-50%, -50%);
		&-visible {
			opacity: 1;
			visibility: visible;
			transition: opacity var(--transition-duration) linear; }
		&-hidden {
			opacity: 0;
			visibility: hidden;
			transition:
				visibility var(--transition-duration) linear,
				opacity var(--transition-duration) linear; } } }