.Album {
	&__cover {
		display: block;
		aspect-ratio: 1;
		position: relative;
		&-black {
			opacity: 0;
			z-index: 1;
			position: absolute;
			transition: var(--transition-duration) opacity;
			background-color: var(--grid-image-hover-color);
		}
		&-image {
			position: absolute;
		}
		&:hover &-black {
			opacity: var(--grid-image-hover-opacity);
		}
	}
}
