:root {
	--layout-bar-height: 60rem;
	--content-image-width: 544rem;
	--content-image-height: 306rem;
	--font-family: "Roboto", system-ui;
	@media (max-width: 650px) {
		--content-image-width: 272rem;
		--content-image-height: 153rem;
	}
}
