.BarFullscreen {
	top: 50%;
	display: flex;
	position: absolute;
	align-items: center;
	flex-direction: column;
	@media (min-width: 800px) {
		left: 50%;
		width: 600px;
		transform: translate(-50%, -50%); }
	@media (max-width: 800px) {
		width: 100%;
		padding: var(--space);
		transform: translateY(-50%); }
	&__cover {
		width: 100%;
		margin-bottom: var(--space-double);
		border-radius: calc(var(--border-radius) * 2); }
	&__text {
		text-align: center; }
	&__title {
		font-size: 30rem;
		font-weight: 700; }
	&__controls {
		width: auto;
		margin-top: var(--space-double); }
	&__artists {
		font-size: 20rem;
		font-weight: 400; }
	&__album {
		font-size: 20rem;
		font-weight: 500;
		margin-bottom: calc(var(--space) * 2.25); } }