.BarFullscreen {
	--button-dimension: 50rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: unset;
	box-shadow: none;
	border-radius: 0;
	@media (max-width: 800px) {
		--button-dimension: 70rem; }
	&__close {
		position: absolute;
		right: var(--space-half);
		top: calc(var(--space-half) + env(safe-area-inset-top)); }
	&__content {
		top: 50%;
		position: absolute;
		gap: var(--space-double);
		@media (min-width: 800px) {
			left: 50%;
			width: 600px;
			transform: translate(-50%, -50%); }
		@media (max-width: 800px) {
			width: 100%;
			transform: translateY(-50%);
			padding: var(--space-double); }
		&-cover {
			width: 100%;
			border-radius: calc(var(--border-radius) * 2); }
		&-text {
			text-align: center; }
		&-title {
			font-size: 30rem;
			font-weight: 700; }
		&-artists {
			font-size: 20rem;
			font-weight: 400; }
		&-genres {
			font-size: 20rem;
			font-weight: 500; }
		&-progress {
			--progress-height: 30rem; }
		&-controls {
			gap: var(--space-three-quart);
			&-play {
				--button-dimension: 80rem; } } } }