:root {
	--content-width: 100vw;
	--button-dimension: 36rem;
	--transition-duration: 0.3s;
	--font-family: "Roboto", system-ui;

	--primary-color: #ff5722;
	--primary-color-dark: #c41c00;
	--primary-color-light: #ff8a50; }

#Root {
	background-color: var(--background-color); }