.SettingsPage {
	&__name {
		font-size: 30rem; }
	&__details {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&-content {
			padding-left: 22rem;
			&-setting {
				align-items: flex-start; } } }
	&__summary {
		outline: none;
		cursor: pointer;
		user-select: none;
		font-weight: var(--bold); }
	&__controls {
		align-items: flex-start; }
	&__checkbox {
		margin-top: -3rem; } }