.Sidebar {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	&__background {
		top: 0;
		right: 0;
		z-index: 3;
		height: 100%;
		cursor: pointer;
		position: absolute;
		width: calc(100% - var(--sidebar-width));
		opacity: var(--close-background-opacity);
		background-color: var(--close-background-color); }
	&__content {
		top: 0;
		left: 0;
		z-index: 4;
		height: 100%;
		display: flex;
		position: absolute;
		flex-direction: column;
		width: var(--sidebar-width);
		justify-content: space-between;
		padding-top: env(safe-area-inset-top);
		&-header {
			height: var(--header-height);
			&-close {
				margin-left: calc(var(--space-half) - 2rem);
				@media (max-width: 700px) {
					--button-dimension: var(--header-height);
					width: 100%;
					margin-left: 0;
					border-radius: 0;
					padding-top: 1rem;
					gap: var(--space-quart);
					justify-content: flex-start;
					padding-left: calc(var(--space-half) - 2rem);
					&-text {
						margin-top: 0;
						font-size: 13rem; } } } } }
	&__links {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		&-group {
			padding: var(--space-half) 0;
			border-bottom: var(--border-width) var(--border-style) var(--border-color); } }
	&__route {
		&-button {
			width: 100%;
			border-radius: 0;
			padding: 0 18rem;
			justify-content: flex-start;
			&-icon-right {
				margin-left: auto;
				justify-self: flex-end; }
			&-sub {
				padding-left: 47rem; } } } }