.AddSongToPlaylistPage {
	height: 100%;
	display: flex;
	gap: var(--space);
	align-items: center;
	flex-direction: column;
	justify-content: center;
	&__cover {
		width: 300rem; }
	&__playlists {
		width: 300rem; }
	&__playlist {
		cursor: pointer; }
	&__selected {
		background-color: var(--hover-color); } }