.Progress {
	width: 100%;
	height: var(--progress-height);
	&__text {
		margin-top: 1rem;
		overflow: visible; }
	&__slider {
		--dim: 10rem;
		width: 100%;
		overflow: hidden;
		appearance: none;
		height: var(--dim);
		background-color: transparent;
		&:focus {
			outline: none; }
		&::-webkit-slider-runnable-track {
			border: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
			background-color: #c8e6c9;
			border-radius: var(--border-radius); }
		&::-webkit-slider-thumb {
			border: 0;
			height: 100%;
			cursor: pointer;
			appearance: none;
			width: var(--dim);
			position: relative;
			border-radius: 100%;
			background-color: var(--primary-color); } } }