.Album {
	&__cover {
		display: block;
		aspect-ratio: 1;
		position: relative;
		&-hover {
			opacity: 0;
			position: absolute;
			background-color: var(--text-color);
			transition: var(--transition-duration) opacity; }
		&-image {
			position: absolute; }
		&:hover &-hover {
			opacity: 0.3; } } }