.AlbumFormSongList {
	&__text {
		width: 150rem;
		min-width: var(--dimension);
		min-height: var(--dimension); }
	&__add {
		--button-dimesnion: 24rem;
		width: var(--button-dimesnion);
		height: var(--button-dimesnion); } }