.SearchPage {
	&__bar {
		position: relative;
		&-input {
			border: 0;
			width: 100%;
			outline: none;
			font-size: 20rem;
			background-color: transparent;
			padding-left: calc(var(--space-quart) + var(--button-dimesnion));
			border-bottom: calc(var(--border-width) * 2) solid var(--border-color);
			&-icon {
				top: 50%;
				position: absolute;
				transform: translateY(-50%); }
			&-search {
				left: 0;
				cursor: unset;
				&:hover,
				&:focus {
					background-color: transparent; } }
			&-close {
				right: 0; } } }
	&__algolia {
		align-self: center;
		&-image {
			transition: var(--transition-duration) background-color;
			&:hover {
				background-color: var(--hover-color); } } } }