.Sidebar {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	&__background {
		top: 0;
		left: 0;
		z-index: 3;
		cursor: pointer;
		position: absolute;
		opacity: var(--close-background-opacity);
		background-color: var(--close-background-color); }
	&__content {
		top: 0;
		left: 0;
		z-index: 4;
		height: 100%;
		display: flex;
		position: absolute;
		flex-direction: column;
		width: var(--sidebar-width);
		justify-content: space-between;
		padding-top: env(safe-area-inset-top);
		&-header {
			height: var(--header-height); } }
	&__links {
		display: flex;
		flex-direction: column;
		justify-content: stretch; }
	&__route {
		display: flex;
		justify-content: stretch;
		&-button {
			flex-grow: 1;
			border-radius: 0;
			justify-content: flex-start; } } }