.AlbumPage {
	display: flex;
	gap: var(--space);
	flex-direction: column;
	align-items: flex-start;
	@media (min-width: 700px) {
		display: grid;
		grid-template-columns:
			var(--content-image-width)
			minmax(0, 1fr); }
	&__img,
	&__content {
		width: 100%;
		height: auto; }
	&__title {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: var(--space-half); }
	&__released {
		margin-bottom: calc(var(--space-quart) + 2rem); }
	&__buttons {
		&-link {
			display: block;
			&-button {
				width: 100%; } } }
	&__sum {
		outline: none;
		cursor: pointer;
		user-select: none; }
	&__footer-text {
		font-size: 14rem;
		text-transform: uppercase;
		color: var(--text-color-light);
		margin-bottom: var(--space-fifth);
		&:last-child {
			margin-bottom: 0; } } }