.BarVolume {
	&__content {
		--h: 300rem;
		--w: calc(var(--button-dimension) + var(--space-one-half));
		display: flex;
		width: var(--w);
		height: var(--h);
		align-items: center;
		flex-direction: column;
		justify-content: space-between; }
	&__slider {
		--slider-w: calc(var(--button-dimesnion) - var(--space-half));
		appearance: none;
		height: var(--slider-w);
		transform: rotateZ(-90deg);
		background-color: transparent;
		width: calc(var(--h) - var(--button-dimesnion) * 2 - var(--space-double));
		&:focus {
			outline: none; }
		&::-webkit-slider-runnable-track {
			border: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
			background-color: var(--hover-color);
			border-radius: calc(var(--slider-w) / 2); }
		&::-webkit-slider-thumb {
			border: 0;
			height: 100%;
			cursor: pointer;
			appearance: none;
			position: relative;
			border-radius: 100%;
			width: var(--slider-w);
			background-color: var(--text-color); } } }